body {
    --dark-grey--: #2c3333;
    --green--: #2E4F4F;
    --blue--: #0E8388;
    --light--: #CBE4DE;
    --purple--: #9554b3;
    --pink--: #ff4da6;

    background-color: var(--dark-grey--);

    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first-page {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.header {
    font-size: 64px;
    color: var(--light--);
    margin-bottom: 50px;
    font-weight: 600;
}

.play-game-page.small {
    scale: 0.1;
    display: grid;
    margin: -22rem;
    margin-top: -28rem;
}

.select-difficulty {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.selection {
    border: 2px var(--blue--);
    border-radius: 2px;
    background-color: var(--blue--);
    padding: 0.6rem;
    font-weight: 800;
    font-size: 2rem;
    color: var(--light--);
    box-shadow: 3px 3px 3px 1px var(--light--);
    margin-bottom: 50px;
    border: 4px solid transparent;
    border-radius: 12px;
    margin: 8px;
}

.option {
    width: 12rem;
}

.icon-selection-container {
    padding: 2rem;
    margin: 25px;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.icon.selection {
    font-size: 84px;
    padding: 32px;
    margin: 30px;
    width: 16rem;
}

.selection:hover {
    cursor: pointer;
    top: -5px;
    transform: translateY(-4px);
}

.begin-game {
    scale: 1.5;
    margin-top: 4rem;
}

.selected {
    border: 4px solid var(--pink--);
}


/* Game Board */

.play-game-page {
    /* filter: blur(4px); */
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
}

.container {
    justify-self: center;
    grid-row: 1 / 2;
    text-align: center;
}

.container.right {
    grid-column: 8 / 9;
}

.player {
    color: var(--light--);
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.container.left {
    grid-column: 3 / 4;
}

.container.center {
    margin-top: 15rem;
    grid-column: 4 / 8;
    padding: 5px;
    width: 80%;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.top {
    grid-row: 1 / 2;
}

.middle {
    grid-row: 2 / 3;
}

.bottom {
    grid-row: 3 / 4;
}

.row {
    grid-row: 1 / 4;
    height: 100%;
    display: grid;
}


@-webkit-keyframes otherGlow {
    from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px var(--dark-grey--), 0 0 30px var  (--dark-grey--), 0 0 40px var(--dark-grey--), 
                0 0 50px var(--purple--), 0 0 50px var(--purple--), 0 0 50px var(--purple--);
}
    to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px var(--pink--), 0 0 30px var(--pink--), 0 0 50px var(--pink--), 
                0 0 60px var(--pink--), 0 0 50px var(--pink--), 0 0 60px var(--pink--);
    }
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px var(--light--), 0 0 20px var(--dark-grey--), 0 0 30px var(--dark-grey--), 0 0 40px var(--dark-grey--), 
                0 0 50px var(--purple--), 0 0 50px var(--purple--), 0 0 50px var(--purple--);
}
    to {
    text-shadow: 0 0 20px var(--light--), 0 0 30px var(--blue--), 0 0 30px var(--blue--), 0 0 50px var(--blue--), 
                0 0 60px var(--blue--), 0 0 50px var(--blue--), 0 0 60px var(--blue--);
    }
}

.board-segment {
    background-color: var(--green--);
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 3px var(--blue--);
    font-size: 9.5rem;
    color: var(--light--);
}

.board-segment:hover {
    cursor: pointer;
    scale: 1.02;
}

.x-color {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.o-color {
    -webkit-animation: otherGlow 1s ease-in-out infinite alternate;
    -moz-animation: otherGlow 1s ease-in-out infinite alternate;
    animation: otherGlow 1s ease-in-out infinite alternate;
}

/* Pop-up CSS */

.pop-up{
    display: none;
    position: fixed;
    left: 39.6%;
    top: 30%;
    z-index: 1;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-bottom: 10px;
    background-color: var(--blue--);
    border-radius: 16px;
    color: var(--light--);
    box-shadow: 0px 0px 5px 5px var(--light--);
}

.top-section {
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

.winner {
    margin: 4px;
    margin-top: 15px;
}

.winner.text {
    font-size: 34px;
}

.button-selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 35px;
}

.main-menu {
    grid-column: 1 / 2;
}

.try-again {
    grid-column: 2 / 3;
}

.button {
    padding: 10px;
    margin: 10px;
    background-color: var(--dark-grey--);
    color: var(--light--);
    border: 2px solid var(--dark-grey--);
    border-radius: 8px;
    box-shadow: 1px 0px 8px 1px var(--light--);
    font-size: 22px;
    font-weight: 600;
}

.button:hover {
    cursor: pointer;
    border: 2px solid var(--light--);
    background-color: var(--green--);
}

